<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alarm"
        tools:targetApi="31">
        <activity
            android:name=".ActiveQRBarActivity"
            android:exported="false" />
        <activity
            android:name=".ActiveMemoryActivity"
            android:exported="false" />
        <activity
            android:name=".ActiveLocationActivity"
            android:exported="false" />
        <activity
            android:name=".sudokuPkgJava.view.ActiveSudokuActivity"
            android:exported="false" />
        <activity
            android:name=".ActiveMathActivity"
            android:exported="false" />
        <activity
            android:name=".ActiveTapOffActivity"
            android:exported="false" />
        <activity
            android:name=".ActiveAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".MemoryMethodSetActivity"
            android:exported="false" />
        <activity
            android:name=".SudokuMethodSetActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmSoundSetActivity"
            android:exported="false" />
        <activity
            android:name=".LocationMethodSetActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".QRMethodSetActivity"
            android:exported="false" />
        <activity
            android:name=".MathMethodSetActivity"
            android:exported="false" />
        <activity
            android:name=".EditAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmOverViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
        <receiver
            android:name=".TurnusBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.alarm.IntentAction.RECEIVE_TURNUS_UPDATE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>